.header{
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.nav__wrapper{
    display: flex;
    align-items: center;
    justify-content:space-between;


}

.logo{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.logo img{
    width: 35px;
    height: 35px;
}


.logo h1{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
}

.nav__item a{
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.nav__icons{
    display: flex;
    align-items: center;
    column-gap: 1.3rem;
}

.nav__icons span{
    font-size: 1.3rem;
    color: var(--primary-color);
    cursor: pointer;
}

.nav__icons .profile img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.nav__icons .profile{
    position: relative;
    z-index: 9;
}
.nav__icons .profile .profile__actions{
    position: absolute;
    top: 98%;
    left: 0;
    width: 150px;
    z-index: 10;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--card-bg-01);
    line-height: 30px;
    
    cursor: pointer;
}


.show__profileActions{
    display: block;
}

.nav__active
{
    font-weight: 600;
}


.sticky__header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px #ddd;
    background: white;
}


.fav__icon,.cart__icon
{
    position: relative;
}

.badge{
    position: absolute;
    top: 50%;
    right: 0%;
    width: 13px;
    height: 13px;
    content: '';
    border-radius:50% ;
    font-size: 0.4rem;
    font-weight: 600;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    
}
