
.product_img img{
    margin-top: 90px;
}

.product__details{
    margin-top: 140px;
}
.product__details span{
    display: block;
    margin: 2px;
}

.product__details h2{
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.product__details .product__price{
    font-size: 1.3rem;
    font-weight:  500;
}

.related__title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
}